# MacOS Spotlight files
.DS_Store

# Composer / Drupal install files
composer.lock
vendor/
/web/


# Ignore sensitive DDEV files or temporary files
.ddev/.gitignore
.ddev/db_snapshots/
.ddev/sequelpro.spf
.ddev/.global_commands
.ddev/import.yaml
.ddev/traefik/certs/


# Root-level .gitignore
!.ddev/commands/web/install-site
!.ddev/commands/web/*
